/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    text-align: center;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* DANIEL custom styles */

hr {
    display: none;
}

body {
    background: url('/images/door_background.png') no-repeat fixed center center;
    background-size: cover;
    min-width: 320px;
}

h1.title {
    width: 320px;
    margin: 120px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 100px;
    white-space: nowrap;
}

h1.title img {
    height: 70px;
    position: relative;
    top: -2px;
    left: -2px;
}

h1.title span {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -39px;
    left: -5px;
}

.home .buttons {
    margin: 0 auto;
    text-align: center;
}

.btn {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.btn em {
    font-style: normal;
    position: relative;
    top: -3px;
}

.btn.btn-default {
    border: #444 4px solid;
    background: transparent;
}

.btn.btn-default:hover, .btn.btn-default:active {
    background: #444;
    color: #FFF;
}

.btn.btn-primary {
    border: #444 4px solid;
    background-color: #444;
}

.glyphicon {
    word-spacing: -0.6em;
}

.adduser {
    margin-top: 16px;
}

.confirm img {
    max-width: 300px;
}

.confirm .row input {
    margin: 0 auto;
    max-width: 300px;
}

.confirm .row {
    margin-bottom: 16px;
}
