/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    text-align: center;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* DANIEL custom styles */

.daniel-admin hr {
    border: 0;
    background: #444;
    height: 2px;
    position: relative;
    top: -26px;
}

body {
    min-width: 320px;
}

h1.title {
    width: 320px;
    margin: 120px auto 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    line-height: 100px;
    white-space: nowrap;
}

h1.title a, h1.title a:hover {
    color: #333;
    text-decoration:none;
}

.daniel-admin h1.title {
    width: 100%;
    margin: -14px 0 0 10px;
    font-size: 40px;
    text-align: left;
    line-height: 40px;
}

.daniel-admin h1.title img {
    height: 36px;
    top: -1px;
}

.daniel-admin h1.title span {
    font-size: 14px;
    top: -19px;
    left: -3px;
}

h1.title img {
    height: 70px;
    position: relative;
    top: -2px;
    left: -3px;
}

h1.title span {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -39px;
    left: -5px;
}

.row.title {
    height: 45px;
}

.home .buttons {
    margin: 0 auto;
    text-align: center;
}

.btn {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}

.btn em {
    font-style: normal;
    position: relative;
    top: -3px;
}

.btn.btn-default {
    border: #444 4px solid;
    background: transparent;
}

.btn.btn-default:hover, .btn.btn-default:active {
    background: #444;
    color: #FF007F;
}

.btn.btn-primary:hover, .btn.btn-primary:active {
    color: #FF007F;
    background: #FF0;
    border: #FF0 4px solid;
}

.btn.btn-primary {
    border: #444 4px solid;
    background-color: #444;
}

.glyphicon {
    word-spacing: -0.6em;
}

.confirm img {
    max-width: 300px;
}

.confirm .row input {
    margin: 0 auto;
    max-width: 300px;
}

.confirm .row {
    margin-bottom: 16px;
}

.usergrid .user {
    padding: 15px;
    position: relative;
}

.usergrid .user .img:hover img {
    opacity: 0.3;
}

.usergrid .user .img:hover .overlay {
    display: block;
    color: #FF007F;
}

.usergrid .user .img {
    background: #111;
    position: relative;
    overflow: hidden;
    text-align: center;
    height: 155px;
    width: 155px;
}

.usergrid .user .img img {
    position: absolute;
    cursor: pointer;
    display: block;
    vertical-align: middle;
    top: -50%;
}

.usergrid .user .overlay {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 7px;
    width: 155px;
    font-size: 16px;
    line-height:15px;
}

.usergrid .user .overlay .name {
    font-weight: normal;
    letter-spacing: 1px;
    padding-left: 6px;
    float: left;
}

.usergrid .user .overlay .glyphicon-star {
    float: left;
    display: block;
    margin-left: 7px;
}

.usergrid .user .overlay .edit {
    padding-right: 5px;
    float: right;
}

.usergrid .addicon img.add {
    width: 155px;
    height: 155px;
    cursor: pointer;
}

.usergrid .addicon .add.default {
    display: block;
}                  

.usergrid .addicon .add.hover {
    display: none;
}

.usergrid .addicon:hover .add.default {
    display: none;
}

.usergrid .addicon:hover .add.hover {
    display: block;
}

.modal.adduser h3 {
    font-size: 32px;
    color: #FF007F;    
}

.modal.adduser .modal-header {
    border: none;
    padding-bottom: 5px;
}

.modal.adduser .adduserbuttons {
    margin: 15px 0;
}

.modal.adduser .modal-dialog {
    max-width: 500px;
}

.modal.adduser .modal-footer {
    border: none;
    padding-top: 0;
}

.modal.adduser .form-horizontal {
    margin: 0 auto;
    width: 300px;
}

.modal.adduser .form-horizontal .ck {
    text-align: left;
}

.modal.adduser .form-horizontal .checkbox {
    display: inline;
    text-align: left;
}

.modal.adduser .form-horizontal .checkbox label {
    padding-left: 0;
    color: #666;
    font-size: 15px;
}

.modal.adduser .form-horizontal .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
    margin-right: 4px;
}

.modal.adduser #video {
    width: 300px;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}
