<div class="confirm">
    <div class="row">
        <!-- img class="confirm" ng-src="{{image_src}}" /-->
        <img src="https://www.filepicker.io/api/file/Tzhc3VzTSWmXbRsWANIg" />
    </div>
    <div class="row">
        <input type="text" class="form-control" id="name" placeholder="person's name" />
    </div>
    <div class="row">
        <button ng-click="confirmed()" class="btn btn-lg btn-success">
            <span class="glyphicon glyphicon-thumbs-up"> confirm</span>
        </button>
    </div>
</div>
